<!--
Generated template for the PasswordPolicyPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->


<ion-header>
    <ion-navbar hideBackButton>
        <ion-title>
          <img alt="logo" height="40"   src="assets/imgs/a2c-logo.png" (click) = "backLogoClick()">
        </ion-title>        
        <span class="userIcon" *ngIf="isUserRegister">
        <img alt="logo" height="40"   src="assets/imgs/component.png" (click) = "userProfileClick()">
      </span>
    </ion-navbar>  
</ion-header>

<ion-content no-bounce padding>
  <div class="mainBox">
    <div class="orangeBox">
      <div class="iconHeader">
        <img width="70" src="assets/imgs/ResetPassword-Colored.png">
        <ion-label class="headingBox">Password Reset </ion-label>
      </div>
      <ion-label class="blueHeading">Password must include minimum of:</ion-label>
      <ion-label class="colorOrange" *ngIf="minLengthcondition">{{minLength}} Characters</ion-label>
      <ion-label class="colorOrange" *ngIf="minLowerCasecondition">{{minLowerCase}} LowerCase Letter</ion-label>
      <ion-label class="colorOrange" *ngIf="minNumbercondition">{{minNumber}} Number</ion-label>
      <ion-label class="colorOrange" *ngIf="minSymbolcondition">{{minSymbol}} Special Character</ion-label>
      <ion-label class="colorOrange" *ngIf="minUpperCasecondition">{{minUpperCase}} UpperCase Letter</ion-label>
      <ion-label class="blueHeading">Please Enter Your New Password Below </ion-label>
      <ion-item class="inputFields">
        <ion-input class="borderInput" type="password" tabindex="1" [(ngModel)]="policyPassword" (keyup)="onKeyPassworldLength($event)" placeholder="New Password"
          clearInput>
        </ion-input>
      </ion-item>

      <label for="female" class="errorclass">{{errorPasswordLength}}</label>
      <!-- <ion-label class="errorclass">{{errorPasswordLength}}</ion-label> -->
      <ion-item class="inputFields">
        <ion-input class="borderInput white-border" #confirmPassword type="password" tabindex="2" placeholder="Confirm New Password" [(ngModel)]="ConfirmpolicyPassword" (keyup)="onKeyConfirmPassworldLength($event)"
          clearInput></ion-input>

      </ion-item>
      <label for="female" class="errorclass">{{errorConfirmPassword}}</label>
      <!-- <ion-label class="errorclass">{{errorConfirmPassword}}</ion-label> -->
    </div>
    <div class="btnBox">
      <button class="appBtn grayBdr" (click)="CancelButton()">Cancel</button>
      <button class="appBtn greenBdr" (click)="checkPasswordPolicy()">Reset</button>
    </div>
  </div>
</ion-content>



<!-- <ion-header>

  <ion-navbar>
    <ion-title>Password Policy</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" [(ngModel)]="policyPassword" placeholder="Password" (keyup)="onKeyPassworldLength($event)"></ion-input>
  </ion-item>
  <ion-label class="errorclass">{{errorPasswordLength}}</ion-label>
  <ion-item>
    <button clear item-right (click)="checkPasswordPolicy()">Submit</button>
  </ion-item>
</ion-content> -->