page-password-policy {
    .content {
        .scroll-content{
            padding: 5px !important;
        }
        background-color: #D6E8ED;
        .mainBox {
            .orangeBox {
                border: 1px solid #F58438;
              //  padding: 10px;
               padding: 10px 10px 60px 10px;
                background: #F0F7F2;
                .iconHeader {
                    display: inline-block;
                    width: 100%;
                    img {
                        float: left;
                    }
                    .headingBox {
                        text-align: left;
                        margin: 20px 0;
                        padding-left: 30px;
                    }
                }
                .headingBox {
                    color: #192942;
                    font-size: 24px;
                    border: 0;
                    font-weight: bold;
                }
                .blueHeading {
                    color: #192942;
                    font-size: 16px;
                    max-width: 100%;
                }
                .colorOrange {
                    color: #F58438;
                    margin: 8px 0;
                }
                .inputFields {
                    padding: 20px;
                    background: #F0F7F2;
                    padding-bottom: 5px;
                    .input-wrapper {
                        display: block;
                        .borderInput {
                            border-bottom: 1px solid #F58438;
                            //margin-bottom: 45px;
                            display: inline-block;
                            width: 100%;
                            .text-input {
                                margin: 0;
                                padding: 5px;
                                .white-border{
                                    border: transparent

                                }
                            }
                        }
                    }
                    .item-inner {
                        border: 0;
                        box-shadow: none !important;
                    }
                }
            }
            .btnBox {
                text-align: center;
                padding: 20px;
                /*position: absolute;*/
                width: 100%;
                bottom: 0;
                left: 0;
                .appBtn {
                    padding: 10px 15px;
                    font-size: 18px;
                    color: #192942;
                    margin: 0 15px;
                    min-width: 100px;
                }
                .grayBdr {
                    border: 1px solid #A8BCC9;
                    background: #E2F2E8;
                }
                .greenBdr {
                    border: 1px solid #8CC63F;
                    background: #F0F7F2;
                    font-weight: bold;
                }
            }
        }
    }
    .item-input ion-label {
        max-width: 100% !important;
    }
    .hideClass {
        display: none;
    }
    // .item-ios.item-block .item-inner{
    //     border-bottom: 0px solid #c1c1c1 !important;
    // }
    .errorclass {
        margin: 0px 20px !important;
        color: red;
        }
}
