page-licence {  
    .delAccBtn{
        margin: auto;
    }
      

    .class1{
        display:none;
    }
    .class2{
        display: block;
    }
    .transBtn{
        color: #427feb;
        background: transparent;
        box-shadow: none;
        padding: 0;
    }
    .toolbar-title, .back-button-icon{
        color: #fff !important; 
    }

     .btnBox {
        text-align: center;
        padding: 20px;
        /*position: absolute;*/
        width: 100%;
        bottom: 0;
        left: 0;
        .appBtn {
            padding: 10px 15px;
            font-size: 18px;
            color: #192942;
            margin: 0 15px;
            min-width: 100px;
        }
        .grayBdr {
            border: 1px solid #A8BCC9;
            background: #E2F2E8;
        }
        .greenBdr {
            border: 1px solid #8CC63F;
            background: #F0F7F2;
            font-weight: bold;
        }
    }
}