page-iconlist{  

.header-text{
    margin: auto;
    ion-title{
        /*width: calc(100% - 30px);*/
        color: #ffF;
        text-align: center;
        .toolbar-title{
            color: #fff;
        }
    }
    
}

.mainDivScrol{
  .list{   
    margin-bottom: 10px;
    margin-top: 10px;
    .itemList{
    padding: 0 10px;         
    height: 68px;
    margin-top: 0px;
    border: 1px solid #EDFFCA;
      .item-inner{
        .accName{
          h2{
            color: #192942;
            font-size: 2rem;
          }
        }
      }

   .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
    margin: 18px 0px 8px 0px;
    height: 70px;
      }
    }
  } 




}


.iconText{
	font-size: 20px !important;
}
.iconLabel{
	font-size: 17px !important;
	color: #4c4a4a !important;
  font-weight: 500;
}


.accountList ion-list.list-md{
    /*border-bottom: 1px solid #4c4a4a !important;*/
}



.list-md .item-block .item-inner{
        border-bottom: 0px solid #4c4a4a !important;
}


.alert-button-md.alert-button .defaultImg{
    background-image: url(assets/imgs/user_img_new.jpg) !important;
}

}

